@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Space+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Space Mono", "Roboto Mono", sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 30px;
}

#logo {
    background-color: green;
    height: 30px;
}

a {
    text-decoration: none;
    color: white;
    width: 20%;
    text-align: center;
    margin: 5px;
}

#profile-picture {
    height: 20px;
}

#profile-link {
    display: flex;
    align-items: center;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}


#filter-button {
    height: 20px;
}